.nav-bar .nav-item:hover {
    background-color: rgb(99, 99, 188);
}

.nav-bar .nav-item:hover a {
    color: white;
}

.active {
    background-color: blue;
    color: white !important;
}

.active a {
    color: white;
}

.hr {
    margin: 0px;
}

.main {
    min-height: 80vh;
}
